.header-wrapper .active {
  color: #dc4742 !important;
}

.text-primary {
  color: #4eb7c4 !important;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary{
    box-shadow: none;
    background-color: #4eb7c4;
    border-radius: 5px;
    color: #fff;
    height: 50px;
    padding: 10px 30px;
    border: 0;
}
.btn-outline-primary {
  border: #4eb7c4 1px solid;
  color: #4eb7c4;
  padding:0 1rem;
  height: 40px;
}

.btn-outline-primary:active,
.btn-outline-primary:hover {
  border: #4eb7c4 1px solid;
  background-color: #4eb7c4;
  color: white;
}

.btn-outline-primary:focus {
  outline: none;
  box-shadow: none !important;
  border: #4eb7c4 1px solid;
  background-color: #4eb7c4;
  color: white;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbar-toggler{
    border: none;
}

.nav-parent{
    position: relative;
}

.nav-border{
    width: 80%;
    height: 3px;
    background-color: #dc4742;
    border-radius: 15px;
    position: absolute;
    bottom: -25px;
}

.pointer {
  cursor: pointer;
}

.main-logo {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.carousel-title{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.fw-light {
  font-weight: 200 !important;
}

.fw-x-light {
  font-weight: 300 !important;
}

.fw-regular {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
  }

  .fw-bold {
    font-weight: 700 !important;
  }



.fs-sm{
    font-size: 0.9rem;
}

.fs-md{
    font-size: 1.05rem;
}

.fs-lg{
  font-size: 1.25rem;
}

.text-secondary{
    color: #d4d4d4;
}

.carousel-indicators{
    margin-bottom: 3rem;
}
.carousel-indicators [data-bs-target].active{
    background: #fff;
}
.carousel-indicators [data-bs-target]{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background: transparent;
    border: 2px solid #fff;
}

.feature-icon{
    width: 70%;
}

.feature-icon-bg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .feature-parent{
    display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.box{
  padding: 10px;
}
 */

 .main-logo-icon{
    width: 50px;
 }

 .card-text{
    font-size: 1rem;
 }

 .carousel-img{
    width: 75%;
 }
 @media (max-width:992px){
    .main-logo{
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    .main-logo-icon{
        width: 40px;
    }
    .carousel-title{
        font-size: 1rem;
    }
    .carousel-img{
        width: 100%;
     }
     /* .card-text{
        font-size: 1.2rem;
     } */
 }

 @media (max-width:576px){
    .v-center,
    .carousel-fg,
    .carousel-bg {
        height: calc(100vh - 350px) !important;
    }
    .carousel-indicators{
        margin-bottom: 1rem !important ;
    }
    .carousel-title{
        font-size: 0.8rem;
    }
    /* .card-text{
        font-size: 1rem;
     } */
     h4{
        font-size: 1.2rem;
     }
     h3{
        font-size: 1.3rem;
     }
     h1{
        font-size: 1.5rem;
     }
 }