.carousel-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.carousel-bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 4vmax);
    object-fit: cover;
}

.carousel-fg {
    position: absolute;
    width: 100%;
    height: calc(100vh - 4vmax);
}

.v-center {
    height: calc(100vh - 4vmax);
}